# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
 - Python
 - R
 - SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. Pandas

| Data Science Tools |
| ------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to multiply then add integers

In [22]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [25]:
200/60

3.3333333333333335

## Author :
Jeric Lee